<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Admiria - Responsive Flat Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    <!-- Basic Css files -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>


<body class="fixed-left">



<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="card">
        <div class="card-body">

            <h3 class="text-center m-0">
                <a href="index.html" class="logo logo-admin"><img src="assets/images/logo.png" height="30" alt="logo"></a>
            </h3>

            <div class="p-3">
                <h4 class="font-18 m-b-5 text-center">update/insert</h4>
                <p class="text-muted text-center">Cập nhật thông tin làm việc </p>

                <form class="form-horizontal m-t-30" th:action="@{/insert}" th:object="${detail}" method="post">


                    <div class="form-group">
                        <select th:field = "*{congNhat}" >
                            <option th:value="NULL" th:text="---Select---"></option>
                            <option th:each="cn : ${congNhats}"
                                    th:value="${cn.id}"
                                    th:text="${cn.name}"/>
                        </select>
                    </div>
                    <div class="form-group" >
                        <select th:field="*{job}">
                            <option th:value="NULL" th:text="---Select---"></option>
                            <option th:each="job : ${jobs}"
                                    th:value="${job.id}"
                                    th:utext="${job.name}"/>
                        </select>
                    </div>
                    <div class="form-group" >
                        <select th:field="*{project}" >
                            <option th:value="NULL" th:text="---Select---"></option>
                            <option th:each="project : ${projects}"
                                    th:value="${project.id}"
                                    th:utext="${project.name}"/>
                        </select>
                    </div>

                    <div class="form-group row m-t-20">
                        <div class="col-12 text-right">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">update</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>


<!-- jQuery  -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/js/modernizr.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/waves.js}"></script>
<script th:src="@{/js/jquery.nicescroll.js}"></script>
<script th:src="@{/js/jquery.scrollTo.min.js}"></script>

<!-- App js -->
<script th:src="@{/js/app.js}"></script>

</body>
</html>